@page {
    size: A4 !important;
    margin: 0 !important;
}

@media print {
    html, body {
        width: 297mm !important;
        height: 210mm !important;
    }

}


tr.odd td {
    background-color: #CECBCB;
}

body {
    font-size: 10px;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif;
}

td, th {
    border: 1px solid !important;
    padding: 0 3px !important;
    font-weight: normal !important;
    /*width: 100px !important;*/
}

th, th a {
    font-weight: bolder !important;
}

table {
    max-width: 100% !important;
}

a {
    font-weight: normal !important;
    color: black !important;
    text-decoration: none !important;
}

th.clientId-col {
    width: 120px;
}

th.placeId-col {
    width: 120px;
}

th.placeAndContractor-col {
    width: auto;
}

th.providerId-col {
    width: 120px;
}

th.machineId-col {
    width: 120px;
}

th.managerId-col {
    width: 120px;
}

th.comment-col {
    width: 120px;
}

th.clientSumExtended-col {
    width: auto;
}

th.clientSum-col {
    width: 50px;
}

th.clientBalance-col {
    width: auto;
}

th.clientPrice-col {
    width: 50px;
}

th.paidByClient-col {
    width: 50px;
}

th.providerSumExtended-col {
    width: auto;
}

th.providerSum-col {
    width: auto;
}

th.providerPrice-col {
    width: auto;
}

th.providerBalance-col {
    width: auto;
}

th.paidToProvider-col {
    width: auto;
}

th.marginExtended-col {
    width: auto;
}

th.hours-col {
    width: 30px;
}

th.hours-header-col {
    width: 30px;
}


