.flextable {
    /*width: 720px;*/
    margin: 0 auto;
}

.flextable-subheader {
    background: #fef6e9;
    text-align: center;
    padding: 10px 0;
}

.flextable-row {
    border-bottom: 1px solid #d5dee4;
    display: flex;
}

.flextable-header .flextable-row {
    background: #f4f7f8;
    border-bottom: none;
}

.flextable-col {
    padding: 10px 20px;
    flex-basis: 20%;
    flex-basis-flex-basis: 5%;
}

.flextable-col-title {
    flex-basis: 40%;
}

.flextable-col-type {
    /*flex-basis: 10%;*/
}

.flextable-col-alias {
    /*flex-basis: 20%;*/
}

.flextable-col-filter {
    /*flex-basis: 10%;*/
}

.flextable-col-actions {
    /*flex-basis: 15%;*/
}
