<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>CRM|Задачи</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="css/animate.css" rel="stylesheet">
  <link href="css/plugins/iCheck/custom.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="css/table.css" rel="stylesheet">

  <link href="css/plugins/select2/select2.min.css" rel="stylesheet">
  <link href="css/plugins/fullcalendar/fullcalendar.css" rel="stylesheet">
  <link href="css/plugins/fullcalendar/fullcalendar.print.css" rel='stylesheet' media='print'>

  <style>


    .task-checked {
      margin-top: 2px;
    }

    img.task-user {
      width: 20px;
    }

    .col-fixed-filters {
      width: 240px;
      position: fixed;
      height: 100%;
      z-index: 1;
    }

    .col-offset-filters {
      padding-left: 255px;
      z-index: 0;
    }

    .top-navigation .wrapper.wrapper-content {
      padding: 40px 20px 40px !important;
    }

    /*//------- {{ Variables }} -------//*/
    /*//------- {{ Styles }} -------//*/
    *, *:before, *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    #wrapper {
      position: relative;
    }

    .branch-blank {
      position: relative;
      margin-left: 250px;
    }

    .branch {
      position: relative;
      margin-left: 300px;
    }

    .branch:before {
      content: "";
      width: 100px;
      border-top: 2px solid #1ab394;
      position: absolute;
      left: -150px;
      top: 50%;
      margin-top: 1px;
    }

    .branch.lv1:before {
      border-top: none;

    }

    .branch.lv3:before {
      width: 50px;
      left: -100px;
    }

    .blank {
      position: relative;
      min-height: 60px;
      border-left: 2px solid white;
      left: -50px;
    }

    .entry {
      position: relative;
      /* position: absolute; */
      min-height: 60px;

    }

    .entry:before {
      content: "";
      height: 100%;
      border-left: 2px solid #1ab394;
      position: absolute;
      left: -50px;
    }

    .entry:after {
      content: "";
      width: 50px;
      border-top: 2px solid #1ab394;
      position: absolute;
      left: -50px;
      top: 50%;
      margin-top: 1px;
      /*border: 2px solid black;*/
    }

    .entry:first-child:before {
      width: 10px;
      height: 50%;
      top: 50%;
      margin-top: 2px;
      border-radius: 10px 0 0 0;
    }

    .entry:first-child:after {
      height: 10px;
      border-radius: 10px 0 0 0;
      /* border: 5px solid red; */
    }

    .entry:first-child {
    }

    .special:after {
      height: 10px;
      border-radius: 10px 0 0 0;
      border-left: 2px solid #1ab394;
    }

    .special:before {
      /*border: none;*/
      /*content: "";*/
      height: 30%;
      border-left: 2px solid #1ab394;
      top: 70%;
      /*position: absolute;
      left: -50px;
      border: 2px solid orange;*/
    }

    .entry:last-child:before {
      width: 10px;
      height: 50%;
      border-radius: 0 0 0 10px;
      /* border: 5px solid red; */
    }

    .entry:last-child:after {
      height: 10px;
      border-top: none;
      border-bottom: 2px solid #1ab394;
      border-radius: 0 0 0 10px;
      margin-top: -9px;
    }

    .entry.sole:before {
      display: none;
    }

    .entry.sole:after {
      width: 50px;
      height: 0;
      margin-top: 1px;
      border-radius: 0;
    }

    .entry-label {
      display: block;
      min-width: 100px;
      padding: 5px 10px;
      line-height: 20px;
      text-align: left;
      border: 2px solid black;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -15px;

      background-color: #ffffff;
      border: 1px solid #e7eaec;
      /*padding: 20px;*/
      margin-bottom: 20px;
    }

    .entry-label.entry-label-project {
      min-width: 150px;
      min-height: 50px;
      z-index: 100;
      top: 45%;
    }

    .entry-label.entry-label-task {
      min-width: 200px;
      min-height: 50px;
      top: 40%;
    }

    .entry-label.entry-label-task2 {
      min-width: 150px;
      min-height: 50px;
      top: 40%;
    }

    .top-button {
      display: block;
      min-width: 50px;
      padding: 5px 10px;
      line-height: 30px;
      border: 2px solid yellow;
      border-radius: 5px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -27px;
      margin-left: 35px;
    }

    .ip:before {
      content: "";
      width: 10px;
      border-right: 2px solid #1ab394;
      position: absolute;
      top: 30px;
      margin-top: 1px;
      height: 50px;
    }

    .ip {
      margin-top: -110px;
      position: absolute;
      z-index: -1;
    }

    .bottom-button {
      display: block;
      padding: 5px 10px;
      line-height: 30px;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: 0px;
      margin-left: 155px;
      /* right: 0; */
      padding-left: 0;
      padding-bottom: 0;
    }

    .lv2 .bottom-button {
      margin-left: 205px;
    }

    .mp {
      margin-top: 60px;
      position: absolute;
      z-index: 2;
      background: red;
      /* line-height: 20px; */
    }

    .mp:before {
      content: "";
      width: 10px;
      border-right: 2px solid #1ab394;
      position: absolute;
      top: -32px;
      margin-top: 1px;
      height: 30px;
    }

    /*We will apply the hover effect the the lineage of the element also*/
    /*, .tree li a:hover+ul li a*/
    .entry span:hover, .entry span:hover + div span, .entry-label:hover {
      background: #c8e4f8;
      color: #000;
      border: 1px solid #94a0b4;
      cursor: pointer;
    }

    /*Connector styles on hover FIX THIS*/
    /*.tree li a:hover+ul li::after, */
    .entry span:hover + div span::after,
      /*.tree li a:hover+ul li::before, */
    .entry span:hover + div span::after,
      /*.tree li a:hover+ul::before, */
    .entry span:hover + div::before,
      /*.tree li a:hover+ul ul::before*/
    .entry span:hover + span::before {
      border-color: #000;
    }

    /*FROM BRYAN*/
    .hasMore {
      border: 2px red solid !important;
    }

    .title {
      padding-left: 50px;
      white-space: nowrap;
    }

    .tree-subheader {
      top: -20px;
      position: absolute;
    }

    #root {
      margin-top: -130px;
      margin-left: 40px;
      z-index: 100;
    }

    #root2 {
      margin-top: -130px;
      margin-left: 40px;
    }

  </style>
</head>

<body class="top-navigation">

<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom white-bg">
      <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
          </button>
          <a href="#" class="navbar-brand">CRM</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li class=" "><a aria-expanded="false" role="button" href="index.html">Главная страница</a></li>
            <li class="dropdown ">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Контакты
                <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="contacts.html">В виде списка</a></li>
                <li><a href="contacts-grid.html">В виде плиток</a></li>
                <li><a href="contact-form.html">Новый человек</a></li>
                <li><a href="company-form.html">Новая компания</a></li>
              </ul>
            </li>
            <li class="dropdown active">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Проекты и задачи
                <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="tasks.html">В виде списка</a></li>
                <li><a href="tasks2.html">В виде дерева</a></li>
                <!--<li><a href="project.html">Страница проекта</a></li>-->
                <li><a href="project-form.html">Новый проект</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Воронка продаж
                <span class="caret"></span></a>
              <ul role="menu" class="dropdown-menu">
                <li><a href="sells-grid.html">В виде таблицы</a></li>
                <li><a href="sells-agile.html">В виде колонок</a></li>
                <li><a href="sells-stats.html">Воронка продаж</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <a href="login.html">
                <i class="fa fa-sign-out"></i> Выйти из системы
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="wrapper wrapper-content m-t-n " style="padding-top: 0">

      <div class="row">

        <div id="">
          <div class="ibox">
            <div class="ibox-content">

              <div class="row">
                <div class="col-md-6">

                  <div class="input-group">
                    <input type="text" placeholder="Поиск" class="input form-control">
                    <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Искать</button>
                                </span>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="pull-right">
                    <div class="btn-group btn-group-xs">
                      <a href="tasks.html" class="btn btn-default "><i class="fa fa-list"></i></a>
                      <a href="tasks2.html" class="btn btn-primary "><i class="fa fa-link"></i></a>
                    </div>
                  </div>
                </div>

              </div>


            </div>
          </div>

          <div class="ibox">
            <div class="ibox-title ">
              <h5>ООО Ромашка
              </h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content p-md">
              <div class="branch lv1" id="branch1">
                <div class="entry" id="entry">
                  <div class="title tree-subheader"><h3>Проекты</h3></div>
                  <div class="entry-label entry-label-project toggleable">
                    <strong>Банкротство</strong>
                    <img class="task-user img-circle" alt="image" src="img/a5.jpg">
                    <br>
                    <span class="label label-warning">Дедлайн</span>
                    <small>12.01.17</small>
                  </div>

                  <div class="bottom-button"><a href=""> <i class="fa fa-plus"></i></a></div>
                  <div class="branch lv2">
                    <div class="entry">
                      <div class="title tree-subheader"><h3>Задачи</h3></div>

                      <div class="entry-label entry-label-task toggleable">
                        <strong> Подготовка документов</strong>
                        <br>
                        <img class="task-user img-circle" alt="image" src="img/a2.jpg">
                        <i class="fa fa-fire"></i>
                        <small>14.01.17</small>
                      </div>
                      <div class="bottom-button"><a href=""> <i class="fa fa-plus"></i></a></div>


                      <div class="branch lv3">
                        <div class="entry">
                          <div class="title tree-subheader"><h3>Дела</h3></div>
                          <div class="entry-label entry-label-task2 toggleable">
                            <strong>Найти договор</strong>
                            <br>
                            <img class="task-user img-circle" alt="image" src="img/a4.jpg">
                            <i class="fa fa-fire"></i>
                          </div>

                        </div>
                        <div class="entry">
                          <div class="entry-label entry-label-task2 toggleable">
                            <strong>Позвонить клиенту</strong>
                            <br>
                            <img class="task-user img-circle" alt="image" src="img/a6.jpg">
                            <small>14.01.17 12:34</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="entry">
                      <div class="entry-label entry-label-task toggleable">
                        <strong>Встречи с клиентами </strong>
                        <br>
                        <img class="task-user img-circle" alt="image" src="img/a4.jpg">
                      </div>
                      <div class="bottom-button"><a href=""> <i class="fa fa-plus"></i></a></div>

                      <div class="branch lv3">
                        <div class="entry ">
                          <div class="bg-info entry-label entry-label-task2 toggleable ">
                            <strong>Позвонить Иванову А.К. </strong>
                            <img class="task-user img-circle" alt="image" src="img/a6.jpg">
                          </div>
                        </div>
                        <div class="entry ">
                          <div class="entry-label entry-label-task2 toggleable">
                            <strong>Позвонить Петрову И.К. </strong>
                            <img class="task-user img-circle" alt="image" src="img/a6.jpg">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="entry">
                  <div class="entry-label entry-label-project toggleable">
                    <strong>Заключение договора</strong>
                    <img class="task-user img-circle" alt="image" src="img/a3.jpg">
                    <br>
                    <span class="label label-danger">Важное</span>
                    <small>14.01.17</small>
                  </div>

                  <div class="branch lv2">
                    <div class="entry">
                      <div class="entry-label entry-label-task toggleable">
                        <strong> Встреча с клиентом 1</strong>
                        <br>
                        <img class="task-user img-circle" alt="image" src="img/a2.jpg">
                        <span class="label label-success">Сбор информации</span>
                      </div>
                      <div class="bottom-button"><a href=""> <i class="fa fa-plus"></i></a></div>
                    </div>
                    <div class="entry">
                      <div class="entry-label bg-danger entry-label-task toggleable">
                        <strong> Встреча с клиентом 2</strong>
                        <br>
                        <img class="task-user img-circle" alt="image" src="img/a2.jpg">
                        <span class="label label-success">Сбор информации</span>
                      </div>
                      <div class="bottom-button"><a href=""> <i class="fa fa-plus"></i></a></div>
                    </div>
                    <div class="entry">
                      <div class="entry-label entry-label-task toggleable">
                        <strong> Встреча с клиентом 3</strong>
                        <br>
                        <img class="task-user img-circle" alt="image" src="img/a2.jpg">
                        <span class="label label-success">Сбор информации</span>
                      </div>
                      <div class="bottom-button"><a href=""> <i class="fa fa-plus"></i></a></div>
                    </div>
                    <div class="entry">
                      <div class="entry-label entry-label-task toggleable">
                        <strong> Встреча с клиентом 4</strong>
                        <br>
                        <img class="task-user img-circle" alt="image" src="img/a2.jpg">
                        <span class="label label-success">Сбор информации</span>
                      </div>
                      <div class="bottom-button"><a href=""> <i class="fa fa-plus"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


          <div class="ibox">
            <div class="ibox-title ">
              <h5>ООО Инвестиции
              </h5>
              <div class="ibox-tools">
                <a class="collapse-link">
                  <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="fa fa-wrench"></i>
                </a>
                <a class="close-link">
                  <i class="fa fa-times"></i>
                </a>
              </div>
            </div>
            <div class="ibox-content p-md">
              <div class="branch lv1" id="branch12">
                <div class="entry" id="entry1">
                  <span class="title tree-subheader"></span>
                  <div class="entry-label entry-label-project toggleable">
                    <strong>Заключение договора</strong>
                    <img class="task-user img-circle" alt="image" src="img/a3.jpg">
                    <br>
                    <span class="label label-danger">Важное</span>
                    <small>14.01.17</small>
                  </div>
                  <div class="bottom-button"><a href=""> <i class="fa fa-plus"></i></a></div>
                  <div class="branch lv2">
                    <div class="entry">
                      <span class="title tree-subheader"></span>

                      <div class="bg-success entry-label entry-label-task toggleable">
                        <strong> Подготовка документов</strong>
                        <br>
                        <img class="task-user img-circle" alt="image" src="img/a2.jpg">
                        <i class="fa fa-fire"></i>
                        <small>14.01.17</small>
                      </div>

                      <div class="branch lv3">
                        <div class="entry">
                          <span class="title tree-subheader"></span>
                          <div class="entry-label entry-label-task2 toggleable">
                            <strong>Закрыть дело</strong>
                            <br>
                            <img class="task-user img-circle" alt="image" src="img/a3.jpg">
                            <i class="fa fa-fire"></i>
                          </div>

                        </div>
                        <div class="entry">
                          <div class="entry-label entry-label-task2 toggleable">
                            <strong>Позвонить в суд</strong>
                            <br>
                            <img class="task-user img-circle" alt="image" src="img/a2.jpg">
                            <small>14.01.17 12:34</small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="entry">
                      <div class="entry-label entry-label-task toggleable">
                        <strong>Встречи с клиентами </strong>
                        <br>
                        <img class="task-user img-circle" alt="image" src="img/a5.jpg">
                      </div>
                      <div class="branch lv3">
                        <div class="entry ">
                          <div class="entry-label entry-label-task2 toggleable">
                            <strong>Позвонить Петрову И.К. </strong>
                            <img class="task-user img-circle" alt="image" src="img/a6.jpg">
                          </div>
                        </div>
                        <div class="entry ">
                          <div class="entry-label entry-label-task2 toggleable">
                            <strong>Позвонить Марченко Т.К. </strong>
                            <img class="task-user img-circle" alt="image" src="img/a6.jpg">
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="entry" id="entry">
                  <span class="title tree-subheader"></span>
                  <div class="entry-label entry-label-project toggleable">
                    <strong>Расторжение договора</strong>
                    <img class="task-user img-circle" alt="image" src="img/a3.jpg">
                    <br>
                    <span class="label label-danger">Важное</span>
                    <small>14.01.17</small>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>


    </div>

    <style>
      .modal-body {
        /*padding: 0;*/
      }

    </style>
    <div class="modal fade" tabindex="-1" role="dialog" id="commentModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-entry-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Обсуждение задачи</h4>
            <p> Подготовка документов 21.09.2017 ООО "Ромашка"</p>
          </div>

          <div class="modal-body no-padding">
            <div class="">

              <div class="social-footer">
                <div class="social-comment">
                  <a href="" class="pull-left">
                    <img alt="image" src="img/a1pg">
                  </a>
                  <div class="media-body">
                    <a href="#">
                      Иванов А. К.
                    </a>
                    Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words.
                    <br>
                    <small class="text-muted">12.06.2017</small>
                  </div>
                </div>

                <div class="social-comment">
                  <a href="" class="pull-left">
                    <img alt="image" src="img/a2.jpg">
                  </a>
                  <div class="media-body">
                    <a href="#">
                      Матюшенко Е. Е.
                    </a>
                    Ubi est pius pulchritudine? Cum orexis trabem, omnes mineralises amor albus, mirabilis spatiies.
                    <br>
                    <small class="text-muted">10.07.2017</small>
                  </div>
                </div>

                <div class="social-comment">
                  <a href="" class="pull-left">
                    <img alt="image" src="img/a3.jpg">
                  </a>
                  <div class="media-body">
                    <textarea class="form-control" placeholder="Напишите комментарий"></textarea>
                    <p class="m-t-sm"><a href="#"><i class="fa fa-file"></i> Прикрепить файл</a></p>
                  </div>
                </div>

              </div>

            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" tabindex="-1" role="dialog" id="fileModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-entry-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Документы к задаче</h4>
            <p> Подготовка документов 21.09.2017 ООО "Ромашка"</p>
          </div>


          <div class="modal-body">


            <table class="table table-responsive">
              <thead>
              <tr>
                <th>Файл</th>
                <th>Автор</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <a href="">Отчет.docx</a>
                </td>
                <td>
                  <img class="task-user img-circle hoverZoomLink" alt="image" src="img/a5.jpg"> 21.10.2018 12:12
                </td>
                <td>
                  <!--<a href=""><i class="fa fa-download"></i></a>-->
                  <a href=""><i class="fa fa-remove"></i></a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="#">Важный документ.pdf</a>
                </td>
                <td>
                  <img class="task-user img-circle hoverZoomLink" alt="image" src="img/a3.jpg"> 21.10.2018 12:12
                </td>
                <td>
                  <!--<a href=""><i class="fa fa-download"></i></a>-->
                  <a href="#"><i class="fa fa-remove"></i></a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="timeModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-entry-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Учет времени</h4>
            <p> задача 21.09.2017 ООО "Ромашка"</p>
          </div>


          <div class="modal-body">


            <table class="table table-responsive">
              <thead>
              <tr>
                <th>Период</th>
                <th>Сотрудник</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <a href="">21.10.2017 12:12 - 13:10</a>
                </td>
                <td>
                  <img class="task-user img-circle hoverZoomLink" alt="image" src="img/a5.jpg"> Иванов И.А.
                </td>
                <td>
                  <!--<a href=""><i class="fa fa-download"></i></a>-->
                  <a href=""><i class="fa fa-remove"></i></a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">21.10.2017 15:12 - 18:10</a>
                </td>
                <td>
                  <img class="task-user img-circle hoverZoomLink" alt="image" src="img/a3.jpg"> Петрова М.А.
                </td>
                <td>
                  <!--<a href=""><i class="fa fa-download"></i></a>-->
                  <a href="#"><i class="fa fa-remove"></i></a>
                </td>
              </tr>
              </tbody>
            </table>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="footer">
      <div class="pull-right">
      </div>
      <div>
        <strong>Copyright</strong> &copy; 2014-2017
      </div>
    </div>

  </div>
</div>


<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js"></script>
<script src="js/jquery-ui-1.10.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

<!-- Flot -->
<script src="js/plugins/flot/jquery.flot.js"></script>
<script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="js/plugins/flot/jquery.flot.resize.js"></script>

<!-- ChartJS-->
<script src="js/plugins/chartJs/Chart.min.js"></script>

<!-- Peity -->
<script src="js/plugins/peity/jquery.peity.min.js"></script>
<!-- Peity demo -->
<script src="js/demo/peity-demo.js"></script>
<!-- iCheck -->
<script src="js/plugins/iCheck/icheck.min.js"></script>
<!-- iCheck -->
<script src="js/plugins/iCheck/icheck.min.js"></script>

<!-- Select2 -->
<script src="js/plugins/select2/select2.full.min.js"></script>

<script>
  $('[data-toggle="tooltip"]').tooltip()
  $(".task_form").select2();


  $(document).ready(function () {

    $("#projects").sortable({
      connectWith: ".projectList",
      handle: '.project-handle',
      cancel: '',
      update: function (event, ui) {

//        var todo = $("#todo").sortable("toArray");
//        var inprogress = $("#inprogress").sortable("toArray");
//        var completed = $("#completed").sortable("toArray");
//        $('.output').html("ToDo: " + window.JSON.stringify(todo) + "<br/>" + "In Progress: " + window.JSON.stringify(inprogress) + "<br/>" + "Completed: " + window.JSON.stringify(completed));
      }
    }).disableSelection();

  });


  function init () {
    $(".toggleable").on("click", function () {
      if (this.nextElementSibling) {
        var next_branch = $(this).nextAll(".branch");
        next_branch.toggle();
        $(this).toggleClass("hasMore");
        if ($(this).attr('id') == 'root') {
          if ($(this).css("margin-top") == "25px") {
            $(this).css("margin-top", "-7px");
          } else {
            $(this).css("margin-top", "25px");
          }
          ;
        }
        ;
      }
    });

//    $(".top-button").on("click", function () {
//      if (this.nextElementSibling) {
//        if ($(this.nextElementSibling).css('display') == "none") {
//          $("<div class='blank'><span></span></div>").insertBefore($(this).parent());
//          $('.top-button').parent().removeClass('special');
//        } else {
//          $(this).parent().siblings('.blank').slideUp(600);
//          $('.top-button').parent().addClass('special');
//        }
//        $(this.nextElementSibling).slideToggle(600);
//      }
//      ;
//    });

//    $(".bottom-button").on("click", function () {
//      if ($(this.nextElementSibling).css('display') == "none") {
//        $("<div class='blank'><span></span></div>").insertAfter($(this).parent());
//      } else {
//        // remove inserted stuff
//        $('.blank').slideUp(500);
//      }
//      $(this.nextElementSibling).slideToggle(600);
//    });
  }

  init();

</script>


</body>

</html>
